<div class="panel panel-primary" *ngFor="let employee of employees">
    <div class="panel-heading">
        <h3 class="panel-title">{{employee.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">
                <div class="col-xs-4">
                    <img [src]="employee.photoPath" />
                </div>
                <div class="col-xs-8">
                    <!-- gender start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            Gender
                        </div>
                        <div class="col-xs-6">
                            : {{employee.gender | uppercase}}
                        </div>
                    </div>
                    <!-- gender end here -->

                    <!-- DateofBirth start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            DateofBirth
                        </div>
                        <div class="col-xs-6">
                            : {{employee.dateOfBirth | date}}
                        </div>
                    </div>
                    <!-- DateofBirth end here -->

                    <!-- contactPreference start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            ContactPreference
                        </div>
                        <div class="col-xs-6">
                            : {{employee.contactPreference}}
                        </div>
                    </div>
                    <!-- contactPreference end here -->

                    <!-- email start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            Email
                        </div>
                        <div class="col-xs-6">
                            : {{employee.email}}
                        </div>
                    </div>
                    <!-- email end here -->

                    <!-- department start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            Department
                        </div>
                        <div class="col-xs-6">
                            : {{employee.department}}
                        </div>
                    </div>
                    <!-- department end here -->

                    <!-- isActive start here -->
                    <div class="row">
                        <div class="col-xs-6">
                            isActive
                        </div>
                        <div class="col-xs-6">
                            : {{employee.isActive}}
                        </div>
                    </div>
                    <!-- isActive end here -->

                </div>
            </div>
        </div>
    </div>
</div>