<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a routerLink="list">List</a></li>
            <li><a routerLink="create">Create</a></li>
            <li><a routerLink="details">Details</a></li>
            <li><a routerLink="one">First Services</a></li>
            <li><a routerLink="two">Second Service</a></li>
            <li><a routerLink="wishlist">WishList</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>